# Formula 1 laptime predictor

This project is an attempt to implement a LSTM neural network to predict Formula 1 laptimes based on previous laptime, circuit, driver ID and the current lap. This is essentially a prototype for a similar network I plan on building in the future which predicts laptimes based on data such as tyre wear, fuel levels etc from the F1 game UDP telemetry.

Dataset: http://ergast.com/mrd/

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Creating the dataframe through joining tables

Final dataframe schema: (circuitID, driverID, currentLap, previousLaptime, actualLaptime)

1) Join laptimes and races on raceID, drop all rows where year does not equal 2019.

2) One hot encode driverId and circuitId

3) Add previous laptime

In [2]:
laptimes = pd.read_csv("dataset/lap_times.csv")
races = pd.read_csv("dataset/races.csv")

laptimes_join_races = laptimes.merge(races, on='raceId')
laptimes_join_races = laptimes_join_races[laptimes_join_races.year == 2019]
laptimes_2019 = laptimes_join_races.drop(["raceId", "year", "position", "name", "date", "time_x", "time_y", "url", "round"], axis=1)

laptimes_2019

        driverId  lap  milliseconds  circuitId
448879       822    1         93813          1
448880       822    2         89662          1
448881       822    3         89246          1
448882       822    4         88641          1
448883       822    5         88759          1
...          ...  ...           ...        ...
472499       842   49        103719         24
472500       842   50        102820         24
472501       842   51        102814         24
472502       842   52        105254         24
472503       842   53        102414         24

[23625 rows x 4 columns]